<div id="pins" class="transitions-enabled">
 <% @pins.each do |pin| %>
 <div class="box">
    <%= pin.description %><br/>
     <%=  link_to image_tag(pin.image (:medium)), pin %></br>

    <% if pin.user == current_user %>
    <%= link_to ' Edytuj', edit_pin_path(pin) %> |lolo
    <%= link_to ' Usuń', pin, method: :delete, data: { confirm: 'Jesteś pewien?' } %></br>
    <% end %>
  <% end %>
</div>
</div>