<div class="jumbotron">
<h1>O mnie...</h1>
<p>Jestem młodym niezwyklenie zadufanym w sobie człowiekiem bawiącym się w kodowanie stron www oraz programów działających w konsolach.</p>
<%= link_to "O Tsubasie!", home_otsubasie_path, class:"btn btn-warning " %>
</div>