<div class="jumbotron">
<h1>O Tsu...</h1>
<p>Tsubasa jest niezwykle utalentowaną, miłą oraz skromną artystką z okolic Jastrzębia. Swoje prace uwiecznia na devianartcie.</p>
<%= link_to "Devianart", "http://tsubasahaneno.deviantart.com/", class:"btn btn-success " %>
</div>


